<?xml version="1.0"?>
<config>
  <modules>
    <Dolphin_Productattr>
      <version>0.1.0</version>
    </Dolphin_Productattr>
  </modules>
  <global>
    <helpers>
      <productattr>
        <class>Dolphin_Productattr_Helper</class>
      </productattr>
    </helpers>
	<models>
	  <productattr>
		<class>Dolphin_Productattr_Model</class>
		<resourceModel>productattr_mysql4</resourceModel>
	  </productattr>
	</models>
	<resources>
	  <salesattribute1622796505_setup>
		<setup>
		  <module>Dolphin_Productattr</module>
		  <class>Mage_Sales_Model_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </salesattribute1622796505_setup>
	  <salesattribute1622796505_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </salesattribute1622796505_write>
	  <salesattribute1622796505_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </salesattribute1622796505_read>
	</resources>
  </global>
</config> 