<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
	<certificatodisostituzione>
            <general>				
				<cron_expr_import>59 9 * * *</cron_expr_import>						
            </general>			 
        </certificatodisostituzione>
        
    </default>
</config>
